/*body {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.6;
  margin: 1rem 0 0 1rem;
}
p {
  max-width: 60ch;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.25rem;
}
h2{
  font-size: 1.1rem;
}
*/
